<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple page</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="main">

        <div class="navbar">

            <div class="logo">
                <a class="navbar-brand page-scroll" href="#">Celine Is Awesome</a>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>
            </div>
        </div>
        <section>
            <div>
                <div class="intro-heading">Hello Errbody</div>
                <div class="intro-text">
                    Yes Mel,
                    Ajmal,
                    Chien,
                    Junne maybe<br>
                    and Syok.
                </div>
                <a href="#" class="btn-xl">Aku Bukan Sempit</a>
            </div>
        </section>
    </div>

</body>

</html>